{{ partial "header" . }}

<article>
    <header class="post-header" style='background-image: url("{{ .Page.Params.image }}");'>

        <div class="post-header-overlay">

            <h1>{{ .Title }}</h1>
            <h5>{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") }}</h5>
            <!-- {{ range .Params.tags }} <kbd class="item-tag">{{ . }}</kbd> {{ end }} -->

        </div>

    </header>

    <section class="post-content container">
        <!-- Content -->
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                {{ .Content }}
            </div>
        </div>

        <!-- Comments -->
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                {{ if .Site.Params.disqusShortname }}
                    <div id="disqus_thread"></div>
                    <script>
                        var disqus_config = function () {
                            this.page.url = '{{ .Permalink }}';  // Replace PAGE_URL with your page's canonical URL variable
                            this.page.identifier = '{{ .UniqueID }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                        };
                        (function() { // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');
                            s.src = 'https://' + '{{ .Site.Params.disqusShortname }}' + '.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                {{ end }}
            </div>
        </div>
    </section>

</article>

{{ partial "footer" . }}
