{{ partial "header" . }}

<main>

    <header class="site-header accent">
        <h1>{{ .Title }}</h1>
    </header>

    <div class="container">

        {{ range $index, $element := (.Paginator 20).Pages }}

            <div class="col-md-3">
                <article class="project">
                    <header>
                        {{ if or (eq $element.Params.image "") (eq $element.Params.image nil)  }}
                            <h2><a href="{{ $element.Params.website }}" target="_blank">{{ .Title }}</a></h2>
                        {{ else }}
                            <a href="{{ $element.Params.website }}">
                                <img src="{{ $element.Params.image }}" alt="{{ $element.Title }} Logo" />
                            </a>
                        {{ end }}
                    </header>

                    <section>
                        <p>{{ $element.Params.description }}</p>
                    </section>

                    <footer>{{ range $element.Params.tags }} <kbd class="item-tag">{{ . }}</kbd> {{ end }}</footer>
                </article>
            </div>

            {{ $ourIndex := add $index 1 }}
            {{ if modBool $ourIndex 4 }}
                <!-- Add the extra clearfix for only the required viewport -->
                <div class="clearfix"> </div>
            {{ end }}

        {{ end }}

    </div>

</main>

{{ if or .Paginator.HasPrev .Paginator.HasNext }}

<div class="pages">

    {{ if .Paginator.HasPrev }}
    <a class="icon pages-icon" href="{{ .Paginator.Prev.URL }}" rel="prev">
        <i class="fa fa-arrow-left"></i> Previous Posts
    </a>
    {{ end }}

    {{ if and .Paginator.HasPrev .Paginator.HasNext }}
    {{ ":ghost:" | emojify }}
    {{ end }}

    {{ if .Paginator.HasNext }}
    <a class="icon pages-icon" href="{{ .Paginator.Next.URL }}" rel="next">
        Next Posts <i class="fa fa-arrow-right"></i>
    </a>
    {{ end }}

</div>

{{ end }}

{{ partial "footer" . }}
